# Gradle
.gradle/
**/build/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Website
website/node_modules/
website/dist/
website/.astro/
